<div class="diet container-fluid">
    <section class="dietChart">
        <div>
            <canvas id="myChart" class="h-75"></canvas>
            <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
        </div>
    </section>
    <div class="dietEntries m-3">
    <table class="table table-hover table-borderless table-responsive-sm">
      <thead>
        <tr>
          <th scope="col">Quantity</th>
          <th scope="col">Time</th>
          <th scope="col">Date</th>
        </tr>
      </thead>
      <tbody>
        {{#each recentMeals as |food|}}
          <tr>
            <td>
              {{food.quantity}} oz
            </td>
            <td>
              {{format_hourMin food.time}}
            </td>
            <td>
              {{format_date food.time}}
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
    </div>
</div>



<script>

let labels = [];
let values = [];

{{#each sortedFoodQuantity}}
    labels.push("{{day}}")
    values.push("{{quantity}}")
{{/each}}

const ctx = document.getElementById('myChart');
const myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        {{!-- labels is labels:labels --}}
        labels,
        datasets: [{
            label: 'fluid oz per day',
            data: values,
            backgroundColor: [
                'rgba(255, 99, 132, 0.3)',
                'rgba(54, 162, 235, 0.3)',
                'rgba(255, 206, 86, 0.3)',
                'rgba(75, 192, 192, 0.3)',
                'rgba(153, 102, 255, 0.3)',
                'rgba(255, 159, 64, 0.3)',
                'rgba(3, 133, 9, 0.3)'

            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)',
                'rgba(3, 133, 9, 1)'

            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true,
            }
        }
    }
});
</script>