
{{#each newBabyData as |baby| }}

<div>Hours since {{baby.name}} ate last {{getTimeDifference diet.time}}</div>

<div>{{baby.name}} slept {{getTimeDifference sleep.time}}</div>

<div>{{baby.name}} was last changed {{getTimeDifference diapers.time}}</div>

{{/each}}