{{babyData}}

{{#each babyData as |baby| }}

<div>{{Diapers.1.time}}</div>

<div>Hours since {{baby.name}} ate last: </div>

<div>{{baby.name}} has been awake for</div>

<div>Hours since {{baby.name}} ate last:</div>

{{/each}}